@charset "utf-8";
/* CSS Document */
body {
	font-size:15px;
	line-height:1;
	font-family:"メイリオ", Meiryo, Osaka,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#2e1c01;
	letter-spacing:0.2em;
}

a,
a:hover,
a:visited,
a:active {
	color:#2e1c01;
	text-decoration:none;
}

img {
	width:100%;
	height:auto;
}

/****************************************************************/
/*                                                              */
/* default style                                                */
/*                                                              */
/****************************************************************/
#side_wrapper {
	width:100%;
}

#side_wrapper #inner {
	background-color:#ddfffb;
	padding:8% 4.2% 15%;
}

#side_wrapper #inner h2 {
	padding-bottom:4%;
	margin-bottom:5%;
	border-bottom:solid 1px #00bba9;
	font-size:0;
}

#side_wrapper #inner h2 img {
	width:60%;
}

/*アコーディオンスタイル*/
#side_wrapper #inner dl {
	background-color:#fff;
    margin-bottom: 2%;	
}

#side_wrapper #inner dl:last-of-type {
	margin-bottom: 10%;
}

#side_wrapper #inner dl dt {
	font-size: 15px;
    font-weight: bold;
    color: #00bba9;
    letter-spacing: 0.2em;
    padding: 10px 14px 8px 10px;
    display: table;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}

#side_wrapper #inner dl dt.scene:before {	
    background: url(../images/under_header/menu_icon01.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner dl dt.type:before {	
    background: url(../images/under_header/menu_icon02.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner dl dt.price:before {	
    background: url(../images/under_header/menu_icon03.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner dl dt:before {
	content: "";	
    width:29px;
    height:32px;
    padding-right:16px;
    display: table-cell;
}

#side_wrapper #inner dl dt span {
	vertical-align: middle;
    display: table-cell;
}

#side_wrapper #inner dl dt span.accordion_btn {
	background:url(../images/under_header/menu_open.jpg) no-repeat;
	background-size:contain;
	background-position:center;
	width:15px;
	height:15px;
}

#side_wrapper #inner dl dt.active span.accordion_btn {
	background:url(../images/under_header/menu_close.jpg) no-repeat;
	background-size:contain;
	background-position:center;
	width:15px;
	height:15px;
}

#side_wrapper #inner dl dd {
	display:none;
}

#side_wrapper #inner .category dl dd ul li a {
	border-bottom:1px dashed #00bba9;
	padding: 12px 16px 11px 14px;
	display: table;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}

#side_wrapper #inner .category dl dd ul li a:first-child {
	border-top:1px dashed #00bba9;
}

#side_wrapper #inner .category dl dd ul li a:last-child {
	border-bottom:none;
}

#side_wrapper #inner .category dl dd ul li a:after {
	content: "";
	background:url(../images/under_header/menu_arrow01.jpg) no-repeat;
	background-size:contain;
	background-position:center;
	width:10px;
	height:15px;
	vertical-align: middle;
    display: table-cell;
}

#side_wrapper #inner .menu ul li {
	margin-bottom:2%;
}

#side_wrapper #inner .menu ul li a {
	font-size: 15px;
    font-weight: bold;
    color: #00bba9;
    letter-spacing: 0.2em;
    padding: 10px 14px 8px 10px;
    display: table;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
	background-color:#fff;
}

#side_wrapper #inner .menu ul li:first-child a:before {	
    background: url(../images/under_header/menu_icon04.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner .menu ul li:nth-child(2) a:before {	
    background: url(../images/under_header/menu_icon05.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner .menu ul li:nth-child(3) a:before {	
    background: url(../images/under_header/menu_icon06.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner .menu ul li:nth-child(4) a:before {	
    background: url(../images/under_header/menu_icon07.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner .menu ul li:nth-child(5) a:before {	
    background: url(../images/under_header/menu_icon08.jpg) no-repeat;
    background-size: contain;
}

#side_wrapper #inner .menu ul li a:before {
	content: "";	
    width:29px;
    height:32px;
    padding-right:16px;
    display: table-cell;
}

#side_wrapper #inner .menu ul li a span {
	vertical-align: middle;
    display: table-cell;
}

#side_wrapper #inner .menu ul li a:after {
	content: "";
	background:url(../images/under_header/menu_arrow02.jpg) no-repeat;
	background-size:contain;
	background-position:center;
	width:10px;
	height:15px;
	vertical-align: middle;
    display: table-cell;
}